.projects{
    margin: 0px 200px 90px 200px;
    text-align: center;
}
.projects h1{
    text-align: center;
    display: inline-block;
    font-weight: 600;
    font-size: 60px;
    background: linear-gradient(270deg,#DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.projects>p{
    text-align: center;
    font-size: 20px;
    color: rgba(242, 243, 244, 0.584);
    margin: 15px 300px;
}
.project-container{
    margin-top: 40px;
    display:flex ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.project{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 460px;
    max-width: 500px;
    /* border: 1px solid gray; */
    border-radius: 20px;
    padding: 26px 30px;
    transition: 0.4s;
    box-shadow: 0 4px 8px 0 black
}
.project:hover{
    transform: scale(1.05);
    /* box-shadow: 0 8px 16px 0 black; */
    border: 2px solid gray;
}
.project img{
    height: 180px;
    width: 100%;
    border-radius: 10px;
}
.tags{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}
.tags span{
    font-size: 10px;
    border: 1px solid gray;
    background-color: gray;
    border-radius: 20px;
    padding: 0px 2px;
    font-style: bold;
    color: black;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.title{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}
.date{
    font-size: 12px;
    color: gray;
    margin-top: 5px;
}
.desc{
    margin-top: 10px;
    color: gray;
    text-align: left;
}

.project-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: auto;
}
.live{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    background: linear-gradient(270deg,#DF8908 10%, #B415FF 100%);
    border-radius: 50px;
    transition: 0.4s;
}
.code{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 50px;
}
.code:hover{
    border: 1px solid #B415FF;
}

.live:hover{
    transform: scale(1.05);
}

@media(max-width:768px){
    .projects{
        margin: 0px 200px 90px 200px;
        text-align: center;
    }
    .projects h1{
        text-align: center;
        display: inline-block;
        font-weight: 600;
        font-size: 40px;
        background: linear-gradient(270deg,#DF8908 10%, #B415FF 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .projects>p{
        text-align: center;
        font-size: 20px;
        color: rgba(242, 243, 244, 0.584);
        margin: 15px 0px;
    }
}