.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 200px;
}

.hero-right img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
}

.hero-left h1{
    font-size: 90px;
    margin-bottom: 10px;
}
/* .name{
     background: linear-gradient(270deg,#DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}  */

.effect{
    font-size: 60px;
    margin-bottom: 10px;
    display: flex;
}
.dynamic{
    /* margin-left: 15px; */
    background: linear-gradient(270deg,#DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bio{
    font-size: 20px;
    line-height: 36px;
    margin-right: 200px;
    margin-bottom: 42px;
    color: rgba(242, 243, 244, 0.584);
}
.resume{
    font-size: 25px;
    width: fit-content;
    background: linear-gradient(270deg,#DF8908 10%, #B415FF 100%);
    border-radius: 20px;
    padding: 10px 50px;
    transition: 0.5s;
    /* box-shadow: rgb(31, 38, 52) 20px 20px 60px, rgb(31, 38, 52) -20px -20px 60px; */
    transition: all 0.2s ease-in-out 0s !important;
}
.resume a{
    text-decoration: none;
    color: white;
}
.resume:hover{
    transform: scale(1.05);
}

    
