.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
    padding: 25px 0px;
    background-color: #161513;
    /* position: sticky;
    top: 0; */
}

.navbar h1 {
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
    padding: 8px 14px;
    border-radius: 10px;

}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    list-style: none;
    font-size: 22px;
    transition: 0.5s;
}

.github {
    display: flex;
    gap: 10px;
    align-items: center;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
    border-radius: 50px;
    padding: 12px 17px;
    transition: 0.5s;
    cursor: pointer;
}

.github a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.github img {
    width: 25px;
    height: 25px;
}

.github:hover {
    transform: scale(1.05);
}

.nav-menu li{
    transition: 0.5s;
}
.nav-menu li:hover {
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.05);
    cursor: pointer;
}
