.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
    padding: 25px 0px;
    background-color: #161513;
    /* position: sticky;
    top: 0; */
}

.navbar h1 {
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
    padding: 8px 14px;
    border-radius: 10px;

}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    list-style: none;
    font-size: 22px;
    transition: 0.5s;
}

.github {
    display: flex;
    gap: 10px;
    align-items: center;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
    border-radius: 50px;
    padding: 12px 17px;
    transition: 0.5s;
    cursor: pointer;
}

.github a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.github img {
    width: 25px;
    height: 25px;
}

.github:hover {
    transform: scale(1.05);
}

.nav-menu li{
    transition: 0.5s;
}
.nav-menu li:hover {
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.05);
    cursor: pointer;
}
.nav-menu-close{
    display: none;
}
.nav-menu-open{
    display: none;
}

@media(max-width:768px){
    .navbar{
        margin: 0px 50px;
    }
    .github{
        display: none;
    }
    .nav-menu-open{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-menu-close{
        display: block;
        position: relative;
        top: 0px;
        left: 300px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
        padding-top: 50px;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        right: -350px;
        z-index: 2;
        transition: right 0.5s;
    }
    .nav-menu li{
        font-size: 30px;
        flex-direction: row;
        padding-left: 100px;
        gap: 20px;
    
    }
}
@media(max-width:568px){
    .nav-menu{
        gap: 20px;
        width: 250px;
    }
    .nav-menu li{
        font-size: 20px;
        flex-direction: row;
        padding-left: 850px;
        gap: 20px;
    
    }
}
